.Blog ul {
  list-style-type: none;
  text-align: center;
}

.Blog li {
  display: inline-block;
  margin: 2rem;
}

.Blog a {
  text-decoration: none;
  font-size: 1.25rem;
}

.Active {
  color: darkorange;
}
